.test-result {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 300px;
  }

  .title {
    text-align: center;
  }
}